# Mix artifacts
/_build
/cover
/deps
/*.beam
/*.ez

# Generate on crash by the VM
erl_crash.dump

# Static artifacts
/node_modules

# Since we are building js and css from web/static, we ignore priv/static/{css,js}
/priv/static/css
/priv/static/js
