<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content='<%= render_existing view_module(@conn), "meta_description", assigns %>.'>
    <meta name="msapplication-TileColor" content="#3f51b5">
    <meta name="msapplication-TileImage" content="/images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#3f51b5">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="PeerGym">
    <meta name="apple-mobile-web-app-status-bar-style" content="#3f51b5">
    <meta name="apple-mobile-web-app-title" content="PeerGym">

    <title><%= render_existing view_module(@conn), "title", assigns %> - PeerGym</title>

    <link rel="canonical" href="https://peergym.herokuapp.com/">
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/images/favicons/manifest.json">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" data-no-reload>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body class="<%= body_class @conn %>">
    <header class="navbar navbar-default navbar-static-top">
      <div class="fluid-container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#pg-navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link to: gym_path(@conn, :index), class: "navbar-brand" do %>
            <span class="logo">Peer<strong>Gym</strong></span>
          <% end %>
        </div>
        <div class="collapse navbar-collapse" id="pg-navbar-collapse">
          <%= form_for @conn, gym_path(@conn, :index), [class: "navbar-form navbar-left form-gym-search", role: "search", as: :search, method: "get"], fn f -> %>
            <%= hidden_input f, :lng %>
            <%= hidden_input f, :lat %>
            <%= hidden_input f, :place %>
            <%= hidden_input f, :city %>
            <%= hidden_input f, :state %>

            <div class="form-control-w-icon">
              <i class="fa fa-search"></i>
              <%= text_input f, :location, class: "form-control form-gym-location", placeholder: "Find a gym…", value: form_location_prefill(assigns) %>
            </div>
          <% end %>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user"></i>
              </a>
              <ul class="dropdown-menu">
                <%= if logged_in?(@conn) do %>
                  <li><a><%= current_user(@conn).email %></a></li>
                  <li><%= link "Sign Out", to: session_path(@conn, :delete) %></li>
                <% else %>
                  <li><%= link "Sign Up", to: user_path(@conn, :new) %></li>
                  <li><%= link "Sign In", to: session_path(@conn, :new) %></li>
                <% end %>
                <li><a><small>© 2017 PeerGym. All rights reserved.</small></a></li>
              </ul>
            </li>
          </ul>
          <span></span>
        </div>
      </div>
    </header>

    <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
    <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

    <main class="fluid-container">
      <%= render @view_module, @view_template, assigns %>
    </main>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>

    <%= if Mix.env == :prod do %>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-71791093-1', 'auto');
        ga('send', 'pageview');
      </script>
      <script async src="//load.sumome.com/" data-sumo-site-id="67571afbf2c3be5b4a065abf8a9b77d2ab4e408790994f11b3337e45a1cc6b01"></script>
    <% end %>

    <script>
      function initMap(){
        var doc = document
          , form = doc.querySelector( '.form-gym-search' );

        new google.maps.places.Autocomplete( form.querySelector('.form-gym-location') );

        form.addEventListener( 'submit', event => {
          event.preventDefault();
          new google.maps.Geocoder().geocode( { 'address': form.querySelector('.form-gym-location').value }, (results, status) => {
            var result, latlng, cityInfo, stateInfo;
            if ( status === google.maps.GeocoderStatus.OK ) {
              result = results[0];
              latlng = result.geometry.location.toString().slice(1, -1).split(', ');
              cityInfo = result.address_components.filter( component => {
                return component.types[0].match( /locality/ );
              });
              stateInfo = result.address_components.filter( component => {
                return component.types[0] === 'administrative_area_level_1';
              });
              form.querySelector( '#search_lat' ).value = latlng[0];
              form.querySelector( '#search_lng' ).value = latlng[1];
              form.querySelector( '#search_place' ).value = result.place_id;
              form.querySelector( '#search_city' ).value = cityInfo.length ? cityInfo[0].long_name : '';
              form.querySelector( '#search_state' ).value = stateInfo.length ? stateInfo[0].short_name : '';
              form.submit();
            } else {
              alert( 'Geocode was not successful for the following reason: ' + status );
            }
          });
        });

        if ( doc.body.className.match( /gym index|gym show/ ) ) {
          google.maps.event.addDomListener( window, 'load', loadMap );
        }
      }

      function loadMap(){
        var doc = document
          , canvas = doc.getElementById( 'map-canvas' )
          , infoWindow = new google.maps.InfoWindow()
          , geocoderRequest = canvas.dataset.placeId ?
              { 'placeId': canvas.dataset.placeId } :
              { 'location': { lat: +canvas.dataset.latitude, lng: +canvas.dataset.longitude } }
          , map;

        new google.maps.Geocoder().geocode( geocoderRequest, (results, status) => {
          if ( status === google.maps.GeocoderStatus.OK ) {
            if ( results[0] ) {
              map = new google.maps.Map( canvas, {
                center: results[0].geometry.location
              , zoom: doc.body.className === "gym show" ?
                  16 : canvas.dataset.countryView === "true" ?
                  4 : canvas.dataset.stateView === "true" ? 7 : 13
              , disableDefaultUI: true
              , draggable: true
              , zoomControl: true
              , scrollwheel: false
              , disableDoubleClickZoom: true
              });

              google.maps.event.addListenerOnce( map, 'bounds_changed', () => {
                Array.prototype.forEach.call( document.querySelectorAll( '.gym-item' ), gym => {
                  var marker = new google.maps.Marker({
                        map: map
                      , position: { lat: +gym.dataset.latitude , lng: +gym.dataset.longitude } });

                  google.maps.event.addListener(marker, 'click', () => {
                    var slug = gym.dataset.slug
                      , name = slug.replace( /\b\w/g, word => {
                          return word.toUpperCase();
                        }).replace( /-/g, ' ' );
                    infoWindow.setContent( '<a href="/gyms/' + slug + '">' + name + '</a>' );
                    infoWindow.open( map, marker );
                  });
                });
              });
            } else {
              return false;
            }
          } else {
            return false;
          }
        });
      }
    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVvyGKfQmhY9lGzqCtCs4vU6EJFXeM6Jo&libraries=places&callback=initMap"></script>
  </body>
</html>
