// Typography
$base-font: 'Rubik', sans-serif;
$heading-font: 'Rubik', sans-serif;

// Colors
$blue-grey: (
  50: #ECEFF1,
  100: #CFD8DC,
  200: #B0BEC5,
  300: #90A4AE,
  400: #78909C,
  500: #607D8B,
  600: #546E7A,
  700: #455A64,
  800: #37474F,
  900: #263238
);

$indigo: (
  50: #E8EAF6,
  100: #C5CAE9,
  200: #9FA8DA,
  300: #7986CB,
  400: #5C6BC0,
  500: #3F51B5,
  600: #3949AB,
  700: #303F9F,
  800: #283593,
  900: #1A237E
);

$blue: (
  50: #E3F2FD,
  100: #BBDEFB,
  200: #90CAF9,
  300: #64B5F6,
  400: #42A5F5,
  500: #2196F3,
  600: #1E88E5,
  700: #1976D2,
  800: #1565C0,
  900: #0D47A1
);

// Breakpoints
$small: 600px;
$medium: 900px;
$large: 1200px;
$xlarge: 1800px;

// Z layers
$layer-1: 0 2px 5px rgba(0, 0, 0, .45);

// Misc
$gradient: linear-gradient(to top right, map-get($indigo, 400), map-get($blue, 900) 50%, map-get($blue, 400) 100%);
$default-text-shadow: 0 1px 3px rgba(0, 0, 0, 0.33);

* { box-sizing: border-box }

body {
  font-family: $base-font;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.4;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  font-weight: 300;
  letter-spacing: 1px;
  font-style: normal;
}

a {
  color: map-get($blue, 700);

  &:hover,
  &:focus,
  &:active {
    color: map-get($indigo, 700);
  }
}

.navbar-default {
  background-color: #fff;
  border-bottom: 1px solid map-get($indigo, 200);
  margin-bottom: 0;

  .navbar-brand {
    padding: 15px 7.5px;

    @media screen and (min-width: $large) {
      padding: 15px;
    }
  }

  i {
    color: map-get($indigo, 400);
  }

  .form-control-w-icon {
    position: relative;

    .fa-search {
      left: 10px;
      position: absolute;
      top: 25%;
    }

    .form-gym-location {
      background-color: #fff;
      border: none;
      border-bottom: 1px solid map-get($indigo, 200);
      border-radius: 0;
      box-shadow: none;
      padding-left: 35px;
      width: 100%;

      @media screen and (min-width: $medium) {
        max-width: 500px;
      }
    }
  }

  .form-gym-search {
    border: none;
    box-shadow: none;
    display: inline-block;
    margin: 8px auto 0;
    width: calc(100% - 150px);

    @media screen and (min-width: $medium) {
      width: 615px;
    }

    @media screen and (min-width: $large) {
      width: 820px;
    }
  }

  .btn-primary {
    box-shadow: none;
  }
}

.logo {
  color: map-get($indigo, 400);
  display: inline-block;
  font-size: 18px;
  margin-bottom: 1em;
}

main {
  background-color: map-get($blue-grey, 50);
  bottom: 100%;
  right: 0;
  min-height: calc(100vh - 51px);
  min-width: 100%;
  padding: 0.1px 15px 15px 15px;
  position: relative;
  top: 0;
  transition: left 0.2s;
  z-index: 1;
}

/* Phoenix flash messages */
.alert {
  border-radius: 0;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  top: 50px;
  width: 100%;
  z-index: 1000;

  &:empty { display: none; }
}

.well-intro {
  background-color: #fff;
  border-left-color: map-get($indigo, 400);
  border-radius: 0;
  border-width: 0 0 0 10px;
  box-shadow: 0 2px 5px 0 rgba(22, 27, 30, .26);
  margin-top: 15px;
}

.gyms-list {
  margin-bottom: 15px;
  margin-top: 15px;
}

.gym_edit {
  input {
    max-width: 350px;
  }
}

.gym.index {
  .mobile-header {
    font-size: 24px;
    margin-top: 30px;
  }

  #map-canvas {
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(22, 27, 30, .26);
    height: 75vh;
  }

  .gym-item {
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(22, 27, 30, .26);
    height: 12.5rem;
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;

    @media screen and (min-width: $medium) {
      height: 25rem;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    img {
      display: block;
      height: 12.5rem;
      position: relative;
      width: 100%;
      z-index: -1;

      @media screen and (min-width: $medium) {
        height: 25rem;
      }
    }

    h3,
    .distance,
    .price {
      bottom: 0;
      color: #fff;
      margin: 12.5px;
      position: absolute;
      text-shadow: $default-text-shadow;
    }

    h3 {
      font-size: 18px;
      margin-bottom: 40px;
      overflow: hidden;
      padding-bottom: 3px;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 90%;

      @media screen and (min-width: $medium) {
        font-size: 24px;
      }
    }

    .distance,
    .price {
      font-size: 14px;

      @media screen and (min-width: $medium) {
        font-size: 16px;
      }
    }

    .distance {
      color: map-get($blue-grey, 300);
    }

    .price {
      right: 0;

      .amt {
        font-size: 18px;

        @media screen and (min-width: $medium) {
          font-size: 24px;
        }
      }
    }

    .text-bg-gradient {
      background: linear-gradient(transparent, #000 110%);
      display: inline-block;
      width: 100%;
    }
  }

  @media screen and (min-width: $large) {
    aside {
      position: fixed;
      right: 0;
      top: 51px;
    }
  }
}

.result-title {
  text-shadow: 0 -1px 1px #fff;
}

.gym.show {
  .card h2 {
    font-size: 24px;

    @media screen and (min-width: $medium) {
      font-size: 30px;
    }
  }

  .card h3 {
    font-size: 18px;

    @media screen and (min-width: $medium) {
      font-size: 24px;
    }
  }

  .hero,
  .navbar-gym {
    margin-left: -15px;
    margin-right: -15px;
  }

  .gym-item {
    margin: -10px -20px 20px;
  }

  #map-canvas {
    height: 25vh;
  }

  .card-vitals ul {
    margin-bottom: 0;
  }

  .dropdown-menu {
    left: auto;
    right: 0;
  }
}

.admin-options {
  position: absolute;
  right: 10px;
  top: 25px;

  form {
    display: inline;
  }

  .label {
    background-color: map-get($indigo, 400);
  }
}

.payment.new {
  background: $gradient;
  height: 100vh;

  h1 {
    color: #fff;
    padding: 40px 0 60px;
    text-align: center;
    text-shadow: $default-text-shadow;
  }

  .navbar-default {
    display: none;
  }

  .card {
    margin-bottom: 40px;
  }

  footer {
    color: #fff;
  }
}

.ask-payment {
  min-height: 60vh;
}

.pagination > li > a,
.pagination > li > span {
  color: map-get($blue, 900);
}

.hero {
  background-image: url("/images/background.jpg");
  background-position: 25% center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  min-height: 150px;
  margin-top: -20px;
  padding-top: 20px;
  position: relative;

  @media screen and (min-width: $medium) {
    min-height: 300px;
  }

  h1 {
    background-color: rgba(0, 0, 0, 0.67);
    bottom: 10px;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-left: 15px;
    padding: 3px 5px;
    position: absolute;

    @media screen and (min-width: $medium) {
      font-size: 36px;
    }
  }

  a {
    color: #fff;
  }

  h1,
  a {
    text-shadow: $default-text-shadow;
  }

  .breadcrumbs {
    padding: 5px 0 0 15px;

    > li {
      background-color: rgba(0, 0, 0, 0.67);
      margin-right: -5px;
    }
  }
}

.bg-primary-gradient {
  background: $gradient;
  color: #fff;
  text-shadow: $default-text-shadow;
}

.btn {
  font-weight: 700;
}

.btn,
.input-lg {
  border-radius: 3px;
  font-family: $heading-font;
}

.btn-primary {
  background-color: map-get($indigo, 400);
  border-color: map-get($indigo, 500);
  box-shadow: $layer-1;

  &:hover,
  &:active,
  &:focus {
    background-color: map-get($indigo, 500);
    border-color: map-get($indigo, 500);
  }

  &.inverse {
    background-color: transparent;
    border-width: 2px;
    box-shadow: none;
    color: map-get($indigo, 400);
  }
}

.shadow {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.33);
}

.card {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 5px 0 rgba(22, 27, 30, .26);
  margin-bottom: 15px;
  padding: 10px 20px 20px;
}

.repeat-cta {
  padding: 50px 0;
}

.navbar-gym {
  border-radius: 0;
  font-size: 14px;
  margin-bottom: 15px;

  .nav > li {
    float: left;

    &:first-of-type {
      margin-left: 0;
    }

    > a {
      margin-left: 5px;
      padding: 5px;

      @media screen and (min-width: $medium) {
        padding: 15px;
      }
    }
  }

  .btn {
    margin-right: 15px;
    padding: 6px 12px;

    &.btn-primary {
      color: #fff;

      &:hover {
        background-color: map-get($indigo, 500);
        color: #fff;
      }
    }

    &.inverse {
      border-width: 1px;
      color: map-get($indigo, 400);

      &:hover {
        background-color: transparent;
        color: map-get($indigo, 400);

        i::before {
          content: "\f164";
        }
      }
    }
  }

  .navbar-right {
    .btn {
      margin-left: 15px;
      margin-right: 0;
    }
  }
}

.navbar-default .navbar-nav > li > a {
  color: map-get($indigo, 400);
}

.card-overview {
  position: relative;
}

.dropdown-rates {
  position: absolute;
  right: 0;
  top: 20px;

  button {
    background-color: map-get($blue, 400);
    border: none;
    color: #fff;
  }
}

.nav-tabs > li > a {
  color: map-get($blue-grey, 600);
  font-size: 14px;
  padding: 10px 7px;

  @media screen and (min-width: $medium) {
    font-size: 16px;
    padding: 10px 15px;
  }

  &:hover,
  &:focus {
    border-radius: 0;
  }
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border: none;
  border-bottom: 3px solid map-get($indigo, 400);
  color: #333;
}

.pac-icon-marker {
  display: none;
}

.pac-item:nth-child(odd) {
  background-color: map-get($blue-grey, 50);
}

.pac-item-selected,
.pac-item-selected:nth-child(odd) {
  background-color: map-get($indigo, 400);

  .pac-matched,
  .pac-item-query,
  span {
    color: #fff;
  }
}
