<li class="gym-item" data-latitude="<%= @item.latitude %>" data-longitude="<%= @item.longitude %>">
  <%= link "Request pass", to: @to_pay, class: "btn btn-lg btn-primary pull-right" %>
  <h2><%= link @item.name, to: @to_show %></h2>
  <p class="lead"><%= @item.address %></p>
  <p><%= link @item.phone, to: "tel:#{@item.phone |> String.replace(~r/(\[|-|\.|\(|\)| )/, "")}" %> <strong><%= @item.hours %></strong></p>
</li>
