<div class="container">
  <h1><%= @gym.name %></h1>
  <p class="lead"><%= @gym.address %></p>
  <p><%= link @gym.phone, to: "tel:#{@gym.phone |> String.replace(~r/(\[|-|\.|\(|\)| )/, "")}" %> <strong><%= @gym.hours %></strong></p>

  <%= link "Claim your free pass", to: gym_payment_path(@conn, :new, @gym.id), class: "btn btn-lg btn-success pull-right" %>
</div>
