<%= form_for @changeset, @action, [id: "gym-search-form", class: "form-inline", name: :search, method: "get"], fn f -> %>
  <%= hidden_input f, :lng %>
  <%= hidden_input f, :lat %>
  <%= hidden_input f, :place %>
  <div class="form-group">
    <%= text_input f, :location, class: "form-control input-lg", placeholder: "Enter a location" %>
  </div>
  <%= submit "Find Me a Gym »", class: "btn btn-lg btn-primary" %>
<% end %>
