<h1>Update Gym Details</h1>
<p>If these are legitimate edits feel free to hit submit and actually push these changes to the gym.</p>

<%= render "form.html", changeset: @changeset,
                        action: gym_edit_path(@conn, :update, @gym_edit),
                        gym: @gym,
                        user: current_user(@conn),
                        gym_edit: @gym_edit %>
