<h1>Add Your Gym to Our Network</h1>
<p>Any suggested changes to a gym page must first be verified by PeerGym’s moderators.</p>

<%= render "form.html", changeset: @changeset,
                        action: gym_gym_edit_path(@conn, :create, @gym) %>
