<h2>Edit your review of <%= @gym.name %></h2>

<%= render "form.html", changeset: @changeset,
                        action: gym_review_path(@conn, :update, @gym, @review),
                        user: current_user(@conn) %>
