<h2>Edit review</h2>

<%= render "form.html", changeset: @changeset,
                        action: gym_review_path(@conn, :update, @gym, @review) %>

<%= link "Back", to: gym_review_path(@conn, :index, @gym) %>
