<h2>Add a review for <%= @gym.name %></h2>

<%= render "form.html", changeset: @changeset,
                        action: gym_review_path(@conn, :create, @gym),
                        user: current_user(@conn) %>
