<h2>Show review</h2>

<ul>

  <li>
    <strong>Body:</strong>
    <%= @review.body %>
  </li>

  <li>
    <strong>Rating:</strong>
    <%= @review.rating %>
  </li>

  <li>
    <strong>User:</strong>
    <%= @review.user_id %>
  </li>

  <li>
    <strong>Gym:</strong>
    <%= @review.gym_id %>
  </li>

</ul>

<%= link "Edit", to: gym_review_path(@conn, :edit, @gym, @review) %>
<%= link "Back", to: gym_review_path(@conn, :index, @gym) %>
